# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
ebextensions/
.ebextensions/

# *.dist files and their non-dist counterparts
*.dist
app_config_json.template

# generally added files for local tests
my-*

# "generated" files
.terraform/
terraform.tfvars
support/s3.tf.dist
app_version_*.tf
Dockerrun.aws.json

# editor files
.idea/
*.sublime-*

# other files
tmp/
