# define elastic beanstalk app version "%%VERSION%%"
resource "aws_elastic_beanstalk_application_version" "%%VERSION%%" {
  name        = "%%VERSION%%"
  application = "${aws_elastic_beanstalk_application.test_app.name}"
  description = "Version %%VERSION%% of app ${aws_elastic_beanstalk_application.test_app.name}"
  bucket      = "%%EBS_BUCKET%%"
  key         = "%%KEY%%"
}
