# that's what we *need*

vpc_id = ...
elb_subnets = ...
subnets = ...
security_groups = ...
instance_role = ...
ebs_service_role = ...                # this seems not always required

# and to use your own cname ...

cname_prefix = ...

# the rest you CAN define, but don't HAVE to. all set using defaults.
